# Eclipse
.classpath
.project
.settings/
**/.project
**/.classpath
**/.settings
.recommenders
.recommenders/

# Intellij
.idea/
*.iml
*.iws
 
# Mac
**/.DS_Store
 
# Maven
log/
target/
target/*
**/target
**/target/*
.metadata
