/* THIS IS MY CSS BASED ON BOOTSTRAP */
body
{   
    
    background: url('https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100%;
}

#holder {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 100px;
    /* height of footer */
}

footer {
    font-family: 'Open Sans' , sans-serif;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white; 
}
<h5>By DreamTeam</h5>
header
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

hr {
    display: block;
    height: 2px;
    border: 0px;
    border-top: 5px solid rgba(51, 51, 51, 0.644);
    margin: 1em 0;
    padding: 0; 
}
/* table css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.644);
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
 
form
{
    width: 500px;
    margin: 0 auto;
}

form.mypharmaform input[type="text"], form.mypharmaform input[type="text"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.mypharmaform input[type="submit"]
{
    width: 100%;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.mypharmaform input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
  color: rgb(191, 217, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align: center;
  color: rgb(191, 217, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  text-align: center;
  color: rgb(191, 217, 255);
}